$$
Random Forest Regression
$$

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Importing Dataset

In [2]:
train_set = pd.read_csv('B-train-cleaned.csv')
test_set = pd.read_csv('B-test-cleaned.csv')

In [3]:
X_train = train_set.loc[:, ['x1','x2']]
X_test = test_set.loc[:, ['x1','x2']]

y_train = train_set.loc[: , ['y']]

In [4]:
X_train

             x1      x2
0     58.760000  123.79
1    120.850000  163.83
2    -19.300000   39.05
3    -65.720000  -36.37
4     11.000000  -64.78
..          ...     ...
185   14.175056    8.79
186  -30.810000   48.65
187   14.175056   50.33
188  101.460000  -67.42
189  -87.330000  -16.89

[190 rows x 2 columns]

In [5]:
y_train

         y
0     6.73
1     7.28
2     5.22
3     6.66
4    -0.25
..     ...
185   3.69
186   5.99
187  -6.73
188 -13.39
189   4.40

[190 rows x 1 columns]

In [6]:
X_test

           x1          x2
0   50.690000 -120.500000
1  102.080000   74.690000
2   63.913333   49.860000
3   49.390000 -101.880000
4  140.490000   59.990000
5   54.080000  -43.464444
6  106.480000  -50.550000
7  -83.820000 -104.840000
8  147.150000    9.140000
9    8.680000 -207.090000

### Training the Random Forest Regression model

In [7]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10000, random_state=0)
regressor.fit(X_train, y_train)

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_832/3876866527.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10000, random_state=0)

### Predicting

In [8]:
X_test_from_train_set = X_train.loc[[11, 75, 99, 183, 115, 163, 188, 73, 37, 25]]

In [9]:
y_test_from_train_set = y_train.loc[[11, 75, 99, 183, 115, 163, 188, 73, 37, 25]]

In [10]:
X_test_from_train_set

             x1      x2
11    55.950000 -150.63
75    49.520000   36.12
99    74.530000   60.61
183   66.130000  -89.43
115  112.180000   25.99
163   67.530000  -51.81
188  101.460000  -67.42
73   -88.800000  -97.19
37   169.290000   10.70
25    14.175056 -183.84

In [11]:
y_test_from_train_set

         y
11   -6.72
75    4.51
99    1.20
183 -10.23
115  -3.64
163  -7.42
188 -13.39
73   -0.66
37   -2.87
25  -13.25

In [12]:
y_pred = regressor.predict(X_test)

In [13]:
y_pred

array([ -4.194976  ,   0.15502449,   0.21243929,  -2.847087  ,
         0.18782566,  -4.46403167,  -8.394672  ,   4.185569  ,
        -2.047471  , -11.39071934])

### Evaluate

In [14]:
from sklearn import metrics

In [15]:
rmse = metrics.mean_squared_error(y_test_from_train_set, y_pred, squared=False)
print('RMSE =',rmse)

RMSE = 3.959552446437267

In [16]:
r2 = metrics.r2_score(y_test_from_train_set, y_pred)
print('R2_SCORE =',r2)

R2_SCORE = 0.5221771705763443