In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [41]:
df = pd.read_csv('iris.csv')

In [42]:
X = df.iloc[:,  :-1]
y = df.iloc[: , -1]

In [43]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [44]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [46]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
68            6.2          2.2           4.5          1.5
140           6.7          3.1           5.6          2.4
104           6.5          3.0           5.8          2.2
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
..            ...          ...           ...          ...
97            6.2          2.9           4.3          1.3
7             5.0          3.4           1.5          0.2
77            6.7          3.0           5.0          1.7
135           7.7          3.0           6.1          2.3
41            4.5          2.3           1.3          0.3

[90 rows x 4 columns]

In [47]:
model = LogisticRegression(random_state=0)

In [48]:
model.fit(X_train, y_train)

c:\Users\LENOVO LEGION\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [49]:
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import accuracy_score


print(accuracy_score(y_test, y_pred))

0.9333333333333333