# Linear Regression

### Importing libraries

In [1]:
import numpy as np
import pandas as pd

### Importing dateset

In [32]:
train_set = pd.read_csv('A-train.csv')
test_set = pd.read_csv('A-test.csv')

In [89]:
X_train = train_set.iloc[: , : -1]
y_train = train_set.iloc[:, -1]

X_test = test_set.iloc[: , : -1]
y_test = test_set.iloc[:, -1]

In [90]:
X_train

         x1      x2      x3          x4      x5    x6     x7     x8
0     26.52   89.93  -60.46     1137.04   -3.49   NaN  -5.88 -17.13
1    -68.18 -127.21   23.30     1471.49   16.95  2.30 -11.51  -7.70
2    -95.05   36.10  -75.27     1158.04    6.97  3.21  -5.86   8.65
3    124.40   -8.19     NaN     5527.92    7.36  7.23  10.77   1.92
4   -103.25     NaN   -2.89     4865.06   -5.21 -1.54    NaN   4.69
..      ...     ...     ...         ...     ...   ...    ...    ...
185   34.29  -38.65  -44.41     9775.28   -3.43  4.95   4.60 -11.73
186    1.62  145.02   53.26     4546.80   11.81 -4.31   4.86  -0.42
187   29.46   33.91  -20.96  6083819.57    5.10  2.93   1.23   3.23
188  -64.93   25.39 -118.74     1746.40  226.26 -1.91 -16.11 -10.44
189 -101.85     NaN   -9.53     3523.61   14.56  0.04 -20.61  -1.31

[190 rows x 8 columns]

In [91]:
y_train

0       7.44
1       7.31
2      -5.77
3      -0.42
4       4.31
       ...
185    11.78
186     3.79
187    -3.17
188     0.97
189     1.44
Name: y, Length: 190, dtype: float64

In [92]:
X_test

       x1      x2      x3        x4     x5     x6     x7     x8
0   65.16    4.49 -105.75    600.25  -0.91    NaN  -1.36  -7.43
1  -24.74   -1.55   91.05   2401.98  -1.52  13.60   5.66  10.59
2  107.54  -28.69  -82.59  25789.15   5.29  -8.56   1.49  -4.73
3   12.02   32.32     NaN      2.76   1.20  -9.52  -4.20   7.48
4   45.08   96.62   51.85      1.28   3.58   0.52  -6.86  -0.78
5 -122.81   17.79 -182.85   2928.97  -1.21  -2.06   9.68  -8.59
6   77.61  -72.30   97.28  19173.94  -9.29   0.86   7.06  -8.06
7  -79.36     NaN -220.91       NaN   7.24   6.19    NaN   9.71
8     NaN  188.39  -16.47   3976.56    NaN  -1.04 -23.44    NaN
9  -44.01  131.65   69.88   1778.31 -13.75 -14.75 -12.27  -0.83

In [93]:
y_test

0    A_01
1    A_02
2    A_03
3    A_04
4    A_05
5    A_06
6    A_07
7    A_08
8    A_09
9    A_10
Name: y, dtype: object

### Data wrangling

In [94]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      181 non-null    float64
 1   x2      180 non-null    float64
 2   x3      180 non-null    float64
 3   x4      181 non-null    float64
 4   x5      180 non-null    float64
 5   x6      180 non-null    float64
 6   x7      180 non-null    float64
 7   x8      181 non-null    float64
dtypes: float64(8)
memory usage: 12.0 KB