$$
Random Forest Regression
$$

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Importing Dataset

In [2]:
train_set = pd.read_csv('A-train-cleaned.csv')
test_set = pd.read_csv('A-test-cleaned.csv')

In [3]:
X_train = train_set.loc[:, ['x3','x8']]
X_test = test_set.loc[:, ['x3','x8']]

y_train = train_set.loc[: , ['y']]

In [4]:
X_train

             x3     x8
0    -60.460000 -17.13
1     23.300000  -7.70
2    -75.270000   8.65
3      2.463778   1.92
4     -2.890000   4.69
..          ...    ...
185  -44.410000 -11.73
186   53.260000  -0.42
187  -20.960000   3.23
188 -118.740000 -10.44
189   -9.530000  -1.31

[190 rows x 2 columns]

In [5]:
y_train

         y
0     7.44
1     7.31
2    -5.77
3    -0.42
4     4.31
..     ...
185  11.78
186   3.79
187  -3.17
188   0.97
189   1.44

[190 rows x 1 columns]

In [6]:
X_test

           x3         x8
0 -105.750000  -7.430000
1   91.050000  10.590000
2  -82.590000  -4.730000
3  -33.167778   7.480000
4   51.850000  -0.780000
5 -182.850000  -8.590000
6   97.280000  -8.060000
7 -220.910000   9.710000
8  -16.470000  -0.293333
9   69.880000  -0.830000

### Training the Random Forest Regression model

In [7]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10000, random_state=0)
regressor.fit(X_train, y_train)

C:\Users\LENOVO~1\AppData\Local\Temp/ipykernel_22308/3876866527.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10000, random_state=0)

### Predicting

In [8]:
X_test_from_train_set = X_train.loc[[188, 98, 142, 9, 186, 116 ,174, 84 ,118, 37]]

In [9]:
y_test_from_train_set = y_train.loc[[188, 98, 142, 9, 186, 116 ,174, 84 ,118, 37]]

In [10]:
X_test_from_train_set

            x3     x8
188 -118.74000 -10.44
98    93.51000  12.00
142  -86.98000  -8.83
9    -39.75000  10.05
186   53.26000  -0.42
116 -184.66000  -9.66
174   96.16000  -8.25
84  -219.67375  13.54
118  -17.33000   1.09
37    70.64000  -4.47

In [11]:
y_test_from_train_set

         y
188   0.97
98    0.25
142   9.41
9    -1.01
186   3.79
116  -3.47
174  19.98
84  -11.28
118   8.88
37   13.43

In [12]:
y_pred = regressor.predict(X_test)

In [13]:
y_pred

array([ 1.1733312 ,  1.76610193,  1.47123572, -7.11739166,  6.132638  ,
       -2.09925807, 17.181024  , -9.42448266,  3.58729893,  7.664892  ])

### Evaluate

In [14]:
from sklearn import metrics

In [15]:
rmse = metrics.mean_squared_error(y_test_from_train_set, y_pred, squared=False)
print('RMSE =',rmse)

RMSE = 4.27267330969197

In [16]:
r2 = metrics.r2_score(y_test_from_train_set, y_pred)
print('R2_SCORE =',r2)

R2_SCORE = 0.751603849633069